/* Add your own CSS rules here */
h1 {
  text-align: left;
  font-family: "Arial Black";
  font-size: 20pt;
  color: #E81E46;
  text-decoration: underline;
}

h2 {
  text-align: left;
  font-family: "Arial";
  font-size: 14pt;
  text-decoration: underline;
  color: #011627;
}

body {
  background-image: url("background.png");
  background-repeat:no-repeat;
  background-size:cover;
  text-align: left;
  font-family: "Arial";
  font-size: 12pt
  text-color: ; 
}

li{
  margin: 10px 0;
}

g[class='note'] {
  color: red;
}

.highlighted {
  fill: blue
}

#controls {
  float: right;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid grey;
	text-align: center;
	padding: 5px 10px
}


a {
	color: #1d998d;
}

h4 { font-size: 20pt;
	text-decoration: underline;
	text-align:center}
