/* Add your own CSS rules here */
h1 {
  text-align: left;
  font-family: "Arial";
  font-size: 18pt;
  color: #ff5348;
}

h2 {
  text-align: left;
  font-family: "Arial";
  font-size: 14pt;
  text-decoration: underline;
}

body {
  text-align: left;
  font-family: "Arial";
  font-size: 12pt; 
  background-image: url("data/background.jpeg");
}

li{
  margin: 10px 0;
}

g[class='note'] {
  color: red;
}

.highlighted {
  fill: blue
}

#controls {
  float: right;
}

table, th, td {
    border: 1px solid black;
	text-align: center;
}

a {
	color: #ff5348;
}
